<table width="{if $premios|@count lt 4} 730px {else} 750px {/if}" style="border-collapse:collapse">
	<tbody>
		{if $aviso != null}
		<tr style="border: none">
			<td colspan="{$premios|@count}" style="color:red;font-weight:bold;text-align: center">{$aviso}</td>
		</tr>
		{/if}
		<tr style="border:1px solid #8080805e;border-bottom:none">
			<td colspan="{if $auditoria == 'aplub' && $giro == true} {$premios|@count + 3} {else} {$premios|@count + 2} {/if}">
				<table width="100%">
					<tbody>
						<tr>
							{assign var="tmp" value=$premios|@count}
							
							{foreach from=$premios item=premio}
							<td width="{100/$tmp}%" style="padding:5px;">
								<div style="font-size: 12px;font-weight: bold;font-family: Arial;text-align: center">{$premio.numero}º Prêmio</div>
								<div style="padding-top: 5px;text-align: center;border-radius: 6px;padding-bottom: 5px;border: 2px solid gray">
									<div style="font-size: 10px;font-weight: bold;font-family: Arial">{$premio.valor}</div>
									<div style="font-size: 7px;font-weight: bold;font-family: Arial">{$premio.premio}</div> 
								</div>
							</td>
							{/foreach}
						<tr>
						{foreach name=combinacoes from=$combinacoes item=combinacao}
						<tr {if $smarty.foreach.combinacoes.iteration > 1} style="background-color:gray" {/if}>
							{foreach from=$premios item=premio}
							<td align="center" style="padding:0px;">
								<table width="65%">
										<tr>
										{foreach name=dezenas from=$combinacao item=dezena}
											<td><div style="width: 25;height: 25px;padding: 0px;margin: 0 auto;font-size: 15px;line-height: 25px;font-weight: bold;font-family: Arial;border-radius: 6px;text-align: center;border: 1px solid gray;background-image: {if $smarty.foreach.combinacoes.iteration > 1} linear-gradient(to bottom, white, white) {else} linear-gradient(to bottom, white, #80808030) {/if}">{$dezena}</div></td>
											{if $smarty.foreach.dezenas.iteration > 0 && $smarty.foreach.dezenas.iteration % 4 == 0}
										</tr><tr>
											{/if}
										{/foreach}
										</tr>
								</table>
							</td>
							{/foreach}
						</tr>
						{/foreach}
					</tbody>
				</table>
			</td>
		</tr>
		<tr style="border:1px solid #8080805e;border-top:none;border-bottom:none">
			<td colspan="{$premios|@count}" style="padding-left:8%;border-right:1px solid #8080805e;">
				<div style="background-color:white;width:20%;padding:5px;text-align:center;border-radius:6px;border:2px solid gray;font-size:10px;font-weight:bold">CONTROLE NÚMERO</div>
			</td>
		</tr>
		<tr style="border:1px solid #8080805e;border-top:none;border-bottom:none">
			<td colspan="{if $auditoria == 'aplub' && $giro == true} {$premios|@count + 3} {else} {$premios|@count + 2} {/if}">
				<div style="text-align:center;border-radius:6px;padding-top:9px;padding-bottom:7px;border:2px solid gray;float:left;width:29%">
					<div style="text-align:center;font-size:15px;font-weight:bold">{$numero}</div>
				</div>
				<div style="padding:0px;text-align:center;border:2px solid gray;">
					<div style="font-family:Arial;font-size:10px;font-weight:bold">APENAS R$ {$valor_inteiro},{$valor_centavos} | {$edicao} Edição | {$sorteio}</div>
					<div style="font-family:Arial;font-size:10px;font-weight:bold;text-align:center">
						{$texto_base}
					</div>
				</div>
			</td>
		</tr>
	</tbody>
</table>
<div class="break">&nbsp;</div>
<div class="break">&nbsp;</div>