<div class="{if $premios|@count lt 4} principal1 {else} principal2 {/if}">
	<table width="{if $premios|@count lt 4} 830px {else} 960px {/if}" cellspacing=0>
		<tbody>
			{if $aviso != null}
			<tr style="border:none">
				<td colspan="{$premios|@count}" class="aviso">{$aviso}</td>
			</tr>
			{/if}
			<tr class="borda-certificado">
				<td colspan="{if $auditoria == 'aplub' && $giro == true} {$premios|@count + 3} {else} {$premios|@count + 2} {/if}">
					<table width="100%" height="50px">
						<tbody>
							<tr>
								<td align="center" rowspan="3">
									<img src="{$url_entidade}" width="160px">
								</td>
								<td align="center" rowspan="3" class="">
									{$texto_topo}
								</td>
							</tr>
							<tr>
								<td align="center">
									<img src="{$url_logo}" valign="top" width="250px">
								</td>
								<td align="center" valign="top" rowspan="2" style="">
									<div class="texto-valor">
										<div class="texto-moeda">R$</div>
										<div class="texto-inteiro">{$valor_inteiro}</div>
										<div class="texto-centavo">,{$valor_centavos}</div>
									</div>
								</td>
							</tr>
							<tr>
								<td align="center" valign="top">
									<img src="{$url_auditoria}" width="150px">
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr>
				<td colspan="{$premios|@count}">
					<div style="text-align:center;font-size: 11px;font-family: arial;font-weight: bold;">
							{$cliente.nome_cliente} CPF: {$cliente.cpf_cliente} TEL: {$cliente.telefone_cliente} DATA/HORA DOAÇÃO: {$cliente.data_hora_criacao}
					</div>
				</td>
			</tr>			
			<tr>
				<td>
					<div class="border-certificado-bottom autorizacao" style="padding:5px 0px">{$autorizacao}</div>
				</td>
				<td>
					<div class="border-certificado-bottom numero-certificado">CERTIFICADO<br>NÚMERO</div>
				</td>
				<td class="sequencial">
					<div class="border-certificado-bottom" style="padding:2px 0px">
						{$sequencial}
					</div>
				</td>
				{if $auditoria == 'aplub'}
				
					{if $giro == true}
						{foreach name=numerosdasorte from=$numerosdasorte item=informacoes}
						<td>
							<div class="border-certificado-bottom numero-sorte-titulo">NÚMERO<br>DA SORTE {if $numerosdasorte|@count gt 1} {$smarty.foreach.numerosdasorte.iteration} {/if}</div>
						</td>
						<td class="border-certificado-bottom numero-sorte-valor">
							<div>
								{if $numerosdasorte|@count eq 1}			
									{$sequencial}
								{else}
									{$informacoes.sequencial}
								{/if}
							</div>
						</td>
						{/foreach}
					{/if}
				
				{else if $auditoria == 'aplicap'}
				
					{if $giro == true}
						<td>
							<div class="border-certificado-bottom numero-sorte">NÚMERO<br>DA SORTE</div>
						</td>
						<td class=" numero-sorte-valor">
							<div class="border-certificado-bottom" style="padding:2px 0px">
								{$sequencial}
							</div>
						</td>
					{/if}
				
				{/if}
			</tr>
			<tr>
				<td>
					<div class="border-certificado-top info">Resultados por Telefone: {$telefone_resultado}</div>
				</td>
				<td colspan="{$premios|@count}">
					<div class="border-certificado-top info">{$site}</div>
				</td>
			</tr>
			<tr>
				<td colspan="{if $auditoria == 'aplub' && $giro == true} {$premios|@count + 3} {else} {$premios|@count + 2} {/if}">
					<table width="100%">
						<tbody>
							<tr>
								<td colspan="{$premios|@count}">
									<img src="{$url_edicao}" width="100.50%">
								</td>
							<tr>
							<tr>
								{assign var="tmp" value=$premios|@count}
								
								{foreach from=$premios item=premio}
								<td width="{100/$tmp}%" class="premio-principal">
									<div class="premio-numero">{$premio.numero}º Prêmio</div>
									<div class="premio-descricao">
										<div class="premio-valor">{$premio.valor}</div>
										<div class="premio-premio">{$premio.premio}</div> 
									</div>
								</td>
								{/foreach}
							<tr>
							{foreach name=combinacoes from=$combinacoes item=combinacao}
							<tr {if $smarty.foreach.combinacoes.iteration > 1} style="background-color:gray" {/if}>
								{foreach from=$premios item=premio}
								<td align="center" class="dezenas">
									<table width="100%">
											<tr>
											{foreach name=dezenas from=$combinacao item=dezena}
												<td><div class="dezena {if $smarty.foreach.combinacoes.iteration > 1} dezena-gradiente1 {else} dezena-gradiente2 {/if}">{$dezena}</div></td>
												{if $smarty.foreach.dezenas.iteration > 0 && $smarty.foreach.dezenas.iteration % 4 == 0}
											</tr><tr>
												{/if}
											{/foreach}
											</tr>
									</table>
								</td>
								{/foreach}
							</tr>
							{/foreach}
						</tbody>
					</table>
				</td>
			</tr>
			<tr class="controle">
				<td colspan="{$premios|@count}" class="controle-borda">
					<div class="controle-titulo">CONTROLE NÚMERO</div>
				</td>
			</tr>
			<tr class="numero-valor">
				<td colspan="{if $auditoria == 'aplub' && $giro == true} {$premios|@count + 3} {else} {$premios|@count + 2} {/if}">
					<div class="numero-valor-numero-borda">
						<div class="numero-valor-numero">{$numero}</div>
					</div>
					<div class="numero-valor-valor-borda">
						<div class="numero-valor-valor">APENAS R$ {$valor_inteiro},{$valor_centavos} | {$edicao} Edição | {$sorteio}</div>
						<div class="texto-base">
							{$texto_base}
						</div>
					</div>
				</td>
			</tr>
			<tr class="tv-local">
				<td colspan="{if $auditoria == 'aplub' && $giro == true} {$premios|@count + 3} {else} {$premios|@count + 2} {/if}" class="tv-local-borda">
					<div class="tv-local-texto">
						{$tv_local}
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>