.principal1 {
    width:830px;
    padding:5px;
    text-align:center;
    border:2px solid gray;
}
.principal2 {
    width:960px;
    padding:5px;
    text-align:center;
    border:2px solid gray;
}
.aviso {
    color:red;
    font-weight:bold;
    text-align: center;
}
.border-certificado-bottom {
    border:1px solid gray;
    border-bottom: none;
}
.border-certificado-top {
    border:1px solid gray;
}
.texto-topo {
    font-family: Arial;
    font-size:20px;
}
.texto-valor {
    float:right;
    color:white;
    border-radius:6px;
    font-family:Arial;
    background-color:#3f3f71;
}
.texto-moeda {
    float:left;
    font-size:2em;
}
.texto-inteiro {
    float:left;
    font-size:5em;
}
.texto-centavo {
    float:left;
    font-size:2em;
}
.autorizacao {
    font-size:11px;
    font-weight:bold;
    text-align:center;
    font-family:Arial;
}
.numero-certificado {
    font-size:10px;
    font-weight:bold;
    font-family:Arial;
    text-align:center;
}
.sequencial {
    font-weight:bold;
    text-align:center;
    background-color:#f2f2f2;
}
.numero-sorte {
    font-size:10px;
    font-weight:bold;
    font-family:Arial;
    text-align:center;
}
.numero-sorte-valor {
    font-weight:bold;
    text-align:center;
    background-color:#f2f2f2;
}
.info {
    font-size:11px;
    font-weight:bold;
    font-family:Arial;
    text-align:center;
}
.premio-principal {
    padding:5px;
}
.premio-numero {
    font-size: 12px;
    font-weight: bold;
    font-family: Arial;
    text-align: center;
}
.premio-descricao {
    padding-top: 5px;
    text-align: center;
    border-radius: 6px;
    padding-bottom: 5px;
    border: 2px solid gray;
}
.premio-valor {
    font-size: 16px;
    font-weight: bold;
    font-family: Arial;
}
.premio-premio {
    font-size: 8px;
    font-weight: bold;
    font-family: Arial;
}
.dezenas {
    padding:5px;
}
.dezena {
    width: 35px;
    height: 35px;
    padding: 1px;
    margin: 0 auto;
    font-size: 22px;
    line-height: 35px;
    font-weight: bold;
    font-family: Arial;
    border-radius: 6px;
    text-align: center;
    border: 1px solid gray;
}
.dezena-gradiente1 {
    /*background-image:linear-gradient(to bottom, white, white);*/
    background-color:white;
}
.dezena-gradiente2 {
    /*background-image:linear-gradient(to bottom, white, #80808030);*/
    background-color:#80808030;
    
}
.controle {
    border-top:none;
    border-bottom:none;
    border:1px solid #8080805e;
}
.controle-borda {
    padding-left:8%;
}
.controle-titulo {
    width:20%;
    padding:5px;
    font-size:10px;
    font-weight:bold;
    text-align:center;
    border-radius:6px;
    margin-left: 7%;
    border:2px solid gray;
    background-color:white;
}
.numero-valor {
    border-top:none;
    border-bottom:none;
    border:1px solid #8080805e;
}
.numero-valor-numero-borda {
    padding-top:8px;
    text-align:center;
    border-radius:6px;
    padding-bottom:7px;
    float:left;width:35%;
    border:2px solid gray;
}
.numero-valor-numero {
    font-size:35px;
    font-weight:bold;
    text-align:center;
}
.numero-valor-valor-borda {
    padding:5px;
    text-align:center;
    border:2px solid gray;
}
.numero-valor-valor {
    font-size:20px;
    font-family:Arial;
    font-weight:bold;
}
.texto-base {
    font-size:10px;
    font-weight:bold;
    font-family:Arial;
    text-align:center;
}
.tv-local {
    border-top:none;
    border:1px solid #8080805e;
}
.tv-local-borda {
    padding-top:5px
}
.tv-local-texto {
    color:white;
    padding-top:5px;
    font-weight:bold;
    font-family:Arial;
    border-radius:6px;
    text-align:center;
    border:2px solid #3f3f71;
    background-color:#3f3f71;
}
.break {
    width:100%;
    text-align:right;
    font-family:Arial Narrow; 
    page-break-inside: avoid;
    page-break-before: always;
}