{literal}
<style>
.break {
    width:100%;
    text-align:right;
    font-family:Arial Narrow; 
    page-break-inside: avoid;
    page-break-before: always;
}
</style>
{/literal}
<table width="750px" style="border-collapse:collapse">
	<!--
	<tr style="border:1px solid #8080805e;border-bottom: none">
		<td colspan="{if $auditoria == 'aplub' && $giro == true} {$premios|@count + 3} {else} {$premios|@count + 2} {/if}">
			<table width="100%" height="50px">
				<tbody>
					<tr>
						<td align="center" rowspan="3">
							<img src="{$url_entidade}" width="160px">
						</td>
						<td align="center" rowspan="3" style="font-family: Arial;font-size:20px">
							{$texto_topo}
						</td>
					</tr>
					<tr>
						<td align="center">
							<img src="{$url_logo}" valign="top" width="250px">
						</td>
						<td align="center" valign="top" rowspan="2" style="">
							<div style="float:right;border-radius:6px;background-color:#3f3f71;font-family:Arial;color:white;width:90px">
								<div style="float:left;font-size:1em">R$</div>
								<div style="float:left;font-size:2.5em">{$valor_inteiro}</div>
								<div style="float:left;font-size:1em">,{$valor_centavos}</div>
							</div>
						</td>
					</tr>
					<tr>
						<td align="center" valign="top">
							<img src="{$url_auditoria}" width="150px">
						</td>
					</tr>
				</tbody>
			</table>
		</td>
	</tr>
	<tr>
		<td style="border-left:1px solid #8080805e;border-right:1px solid #8080805e">
			<img src="{$url_edicao}" width="100%">
		</td>
	<tr>
	-->
	<tr>
		<td colspan="{$premios|@count + 1}" style="border-left:1px solid #8080805e; border-right:1px solid #8080805e;text-align:center;font-size: 11px;font-family: arial;font-weight: bold;">
			{$cliente.nome_cliente} CPF: {$cliente.cpf_cliente} TEL: {$cliente.telefone_cliente}
		</td>
	</tr>
</table>