
<table width="960px" style="border-collapse:collapse">
	<tbody>
		{if $aviso != null}
		<tr style="border: none">
			<td colspan="{$premios|@count}" style="color:red;font-weight:bold;text-align: center">{$aviso}</td>
		</tr>
		{/if}
		<tr style="border:1px solid #8080805e;border-bottom: none">
			<td colspan="{if $auditoria == 'aplub' && $giro == true} {$premios|@count + 3} {else} {$premios|@count + 1} {/if}">
				<table width="100%" height="50px">
					<tbody>
						<tr>
							<td align="center" rowspan="3">
								<img src="{$url_entidade}" width="160px">
							</td>
							<td align="center" rowspan="3" style="font-family: Arial;font-size:20px">
								{$texto_topo}
							</td>
						</tr>
						<tr>
							<td align="center">
								<img src="{$url_logo}" valign="top" width="250px">
							</td>
							<td align="center" valign="top" rowspan="2" style="">
								<div style="float:right;border-radius:6px;background-color:#3f3f71;font-family:Arial;color:white">
									<div style="float:left;font-size:2em">R$</div>
									<div style="float:left;font-size:5em">{$valor_inteiro}</div>
									<div style="float:left;font-size:2em">,{$valor_centavos}</div>
								</div>
							</td>
						</tr>
						<tr>
							<td align="center" valign="top">
								<img src="{$url_auditoria}" width="150px">
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr style="border:1px solid #8080805e">
			<td>
				<div style="font-family:Arial;font-size:11px;font-weight:bold;text-align:center">{$autorizacao}</div>
			</td>
			<td>
				<div style="font-family:Arial;font-size:10px;font-weight:bold;text-align:center">CERTIFICADO<br>NÚMERO</div>
			</td>
			<td style="background-color:#f2f2f2;font-weight:bold;text-align:center">
				<div>
					{$sequencial}
				</div>
			</td>
			{if $auditoria == 'aplub'}
			
				{if $giro == true}
					{foreach name=numerosdasorte from=$numerosdasorte item=informacoes}
					<td>
						<div style="font-family:Arial;font-size:10px;font-weight:bold;text-align:center">NÚMERO<br>DA SORTE {if $numerosdasorte|@count gt 1} {$smarty.foreach.numerosdasorte.iteration} {/if}</div>
					</td>
					<td style="background-color:#f2f2f2;font-weight:bold;text-align:center">
						<div>
							{if $numerosdasorte|@count eq 1} {$smarty.foreach.numerosdasorte.iteration}			
								{$sequencial}
							{else}
								{$informacoes.sequencial}
							{/if}
						</div>
					</td>
					{/foreach}
				{/if}
			
			{else if $auditoria == 'aplicap'}
			
				{if $giro == true}
					<td>
						<div style="font-family:Arial;font-size:10px;font-weight:bold;text-align:center">NÚMERO<br>DA SORTE</div>
					</td>
					<td style="background-color:#f2f2f2;font-weight:bold;text-align:center">
						<div>
							{$sequencial}
						</div>
					</td>
				{/if}
			
			{/if}
		</tr>
		<tr style="border:1px solid #8080805e">
			<td>
				<div style="font-family:Arial;font-size:11px;font-weight:bold;text-align:center">Resultados por Telefone: {$telefone_resultado}</div>
			</td>
			<td colspan="{$premios|@count}">
				<div style="font-family:Arial;font-size:11px;font-weight:bold;text-align:center">{$site}</div>
			</td>
		</tr>
		<tr style="border:1px solid #8080805e;border-bottom:none">
			<td colspan="{if $auditoria == 'aplub' && $giro == true} {$premios|@count + 3} {else} {$premios|@count + 1} {/if}">
				<table width="100%">
					<tbody>
						<tr>
							<td colspan="{$premios|@count}">
								<img src="{$url_edicao}" width="100%">
							</td>
						<tr>
						<tr>
							{foreach from=$premios item=premio}
							<td style="padding:5px;">
								<div style="font-size: 12px;font-weight: bold;font-family: Arial;text-align: center">{$premio.numero}º Prêmio</div>
						    	<div style="padding-top: 5px;text-align: center;border-radius: 6px;padding-bottom: 5px;border: 2px solid gray">
						    		<div style="font-size: 16px;font-weight: bold;font-family: Arial">{$premio.valor}</div>
						    		<div style="font-size: 8px;font-weight: bold;font-family: Arial">{$premio.premio}</div> 
						    	</div>
							</td>
							{/foreach}
						<tr>
						{foreach name=combinacoes from=$combinacoes item=combinacao}
						<tr {if $smarty.foreach.combinacoes.iteration > 1} style="background-color:gray" {/if}>
							{foreach from=$premios item=premio}
							<td align="center" style="padding:5px;">
								<table width="100%">
										<tr>
										{foreach name=dezenas from=$combinacao item=dezena}
											<td><div style="width: 35px;height: 35px;padding: 9px;margin: 0 auto;font-size: 22px;line-height: 35px;font-weight: bold;font-family: Arial;border-radius: 6px;text-align: center;border: 1px solid gray;background-image: {if $smarty.foreach.combinacoes.iteration > 1} linear-gradient(to bottom, white, white) {else} linear-gradient(to bottom, white, #80808030) {/if}">{$dezena}</div></td>
											{if $smarty.foreach.dezenas.iteration > 0 && $smarty.foreach.dezenas.iteration % 4 == 0}
										</tr><tr>
											{/if}
										{/foreach}
										</tr>
								</table>
							</td>
							{/foreach}
						</tr>
						{/foreach}
					</tbody>
				</table>
			</td>
		</tr>
		<tr style="border:1px solid #8080805e;border-top:none;border-bottom:none">
			<td colspan="{$premios|@count}" style="padding-left:8%">
				<div style="background-color:white;width:20%;padding:5px;text-align:center;border-radius:6px;border:2px solid gray;font-size:10px;font-weight:bold">CONTROLE NÚMERO</div>
			</td>
		</tr>
		<tr style="border:1px solid #8080805e;border-top:none;border-bottom:none">
			<td colspan="{if $auditoria == 'aplub' && $giro == true} {$premios|@count + 3} {else} {$premios|@count + 1} {/if}">
				<div style="text-align:center;border-radius:6px;padding-top:8px;padding-bottom:7px;border:2px solid gray;float:left;width:35%">
					<div style="text-align:center;font-size:35px;font-weight:bold">{$numero}</div>
				</div>
				<div style="padding:5px;text-align:center;border:2px solid gray;">
					<div style="font-family:Arial;font-size:20px;font-weight:bold">APENAS R$ {$valor_inteiro},{$valor_centavos} | {$edicao} Edição | {$sorteio}</div>
					<div style="font-family:Arial;font-size:10px;font-weight:bold">
						{$texto_base}
					</div>
				</div>
			</td>
		</tr>
		<tr style="border:1px solid #8080805e;border-top:none">
			<td colspan="{if $auditoria == 'aplub' && $giro == true} {$premios|@count + 3} {else} {$premios|@count + 1} {/if}" style="padding-top:5px">
				<div style="padding-top:5px;text-align:center;border-radius:6px;border:2px solid #3f3f71;background-color:#3f3f71;color:white;font-family:Arial;font-weight:bold">
					{$tv_local}
				</div>
			</td>
		</tr>
	</tbody>
</table>
