<!--
<table width="750px" style="border-collapse:collapse">
	<tr style="border:1px solid #8080805e;border-top:none">
		<td colspan="{if $auditoria == 'aplub' && $giro == true} {$premios|@count + 3} {else} {$premios|@count + 2} {/if}" style="padding-top:5px">
				<div style="padding-top:5px;text-align:center;border-radius:6px;border:2px solid #3f3f71;background-color:#3f3f71;color:white;font-family:Arial;font-weight:bold">
					{$tv_local}
				</div>
		</td>
	</tr>
</table>
-->