<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<table cellpadding="0" cellspacing="0" border="0" align="center" width="700" style="border: 2px solid #e5e5e5" bgcolor="#ffffff">
	<tbody>
		<tr>
			<td valign="top" height="70" colspan="3">
				<table cellpadding="0" cellspacing="0" border="0" width="100%">
					<tbody>
						<tr>
							<td valign="middle" align="{if $entidade != null}middle{else}left{/if}" width="216">
								<img style="display: block; padding-left:10px;" width="216" src="{$host}/app/img/email/{$logo}">
							</td>
							{if $entidade != null}
							<td valign="middle" align="middle" width="216">
								<img style="display: block" width="130" src="{$host}/app/img/email/{$entidade}">
							</td>
							{/if}
							{if $auditoria != null}
							<td valign="middle" align="middle" width="216">
								<img style="display: block" width="130" src="{$host}/app/img/email/{$auditoria}">
							</td>
							{/if}
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td valign="top" bgcolor="#26519b" width="599" height="5" colspan="3"></td>
		</tr>
		<tr>
			<td colspan="3" style="padding:15px; text-align:center;">
				<center style="font-size:25px;font-weight:bold; font-family:sans-serif">{$saudacao}</center>
			</td>
		</tr>
		<tr>
			<td width="270" valign="top" colspan="3" style="padding:15px; font-family:sans-serif">
				<font color="#4f4f4f" face="arial" size="3" >
					<center>
						{$corpo}
					</center>
				</font>
				<br><br>
				<span style="font-size:13px;">Obrigado!<br>Equipe {$nome_base}</span>
			</td>
		</tr>
		<tr>
			<td valign="top" width="599" colspan="3"></td>
		</tr>
		<tr style="font-family:sans-serif;">
			<td valign="top" align="center">
				<img src="https://www.doecap.com.br/app/img/email/carta.jpg" alt="Contato por e-mail" style="vertical-align:middle">
				<font face="arial" size="2" color="#4f4f4f"><span><strong><a href="mailto:{$email_base}" target="_blank">{$email_base}</a></strong></span></font>
			</td>
			<td valign="top" align="center">
				<img src="https://www.doecap.com.br/app/img/email/telefone.jpg" alt="Contato por telefone" style="vertical-align:middle">
				<font face="arial" size="2" color="#4f4f4f"><span><strong><a href="tel:{$telefone_base}" target="_blank">{$telefone_base}</a></strong></span></font>
			</td>
			<td valign="middle" align="center">
				<font face="arial" size="2" color="#4f4f4f"><span><strong><a href="https://{$site}" target="_blank">{$site}</a></strong></span></font>
			</td>
		</tr>
		<tr>
			<td colspan="3" valign="top" bgcolor="#f4f4f4" width="599" height="3"></td>
		</tr>
		<tr>
			<td width="270" valign="top" colspan="3" style="padding:10px; text-align:center;">
				<font color="#4f4f4f" face="arial" size="1">
					{$rodape}
				</font>
			</td>
		</tr>
	</tbody>
</table>
<center>
	<font color="#4f4f4f" face="arial" size="1">
		<br>
		{$extra}
	</font>
</center>