<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<table cellpadding="0" cellspacing="0" border="0" align="center" width="700px" style="font-weight:bold; font-family:sans-serif" bgcolor="#ffffff">
	<tbody>
		<tr>
			<td valign="top" height="282px" colspan="3" style="background-image: url({$host}/app/templates/imagens/{$tipo}_header.jpg);background-repeat:no-repeat;background-size:100%">
				<img src="{$host}/app/img/email/{$logo}" width="282px" style="margin-left:46%;margin-top:9%;">
			</td>
		</tr>
		<tr>
			<td></td>
			<td width="245"></td>
			<td width="600" style="padding:15px; text-align:left;">
				<div style="font-size:30px;">
					{$corpo}
				</div>
			</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td>
				<div style="font-size:25px; text-align:center;">
					<a href="http://{$site}" style="color:#000000;">{$site}</a>
					<br>
				</div>
				<table align="right" style="margin-right: 100px;">
					<tr>
						<td>
							<img src="{$host}/app/templates/imagens/facebook.jpg">
						</td>
						<td>
							<a href="{$redessociais.facebook.link}" style="color:#000000; text-decoration:none; font-weight:bold;">{$redessociais.facebook.user}</a>
						</td>

						<td>
							<img src="{$host}/app/templates/imagens/instagram.jpg">
						</td>
						<td>
							<a href="{$redessociais.instagram.link}" style="color:#000000; text-decoration:none; font-weight:bold;">{$redessociais.instagram.user}</a>
						</td>

						<td>
							<img src="{$host}/app/templates/imagens/twitter.jpg">
						</td>
						<td>
							<a href="{$redessociais.twitter.link}" style="color:#000000; text-decoration:none; font-weight:bold;">{$redessociais.twitter.user}</a>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td valign="top" height="70" colspan="3">
				<img src="{$host}/app/templates/imagens/{$tipo}_footer.jpg" width="700">
			</td>
		</tr>
	</tbody>
</table>
<center>
	<font color="#4f4f4f" face="arial" size="1">
		<br>
		{if $extra != null}
			{$extra}
		{/if}
	</font>
</center>