<table width="700px">
	<tbody>
			<tr>
				<td align="center" style="padding:5px;">
					{$titulo}
				</td>	
			</tr>
		{foreach from=$resultados item=resultado}
			<tr>
				<td align="center" style="padding:5px;font-size:20px">
						{$resultado.sorteio}
				</td>	
			</tr>
			<tr>
				<td align="center" style="padding:5px;font-size:20px">
					{$resultado.premio}
				</td>	
			</tr>
			<tr>
				<td align="center" style="padding:5px;">
					<table width="100%">
							<tr>
							{foreach name=dezenas from=$resultado.dezenas item=dezena}
								<td>
									<div style="width: 35px;height: 35px;padding: 9px;margin: 0 auto;font-size: 22px;line-height: 35px;font-weight: bold;font-family: Arial;border-radius: 6px;text-align: center;border: 1px solid gray; background-image: linear-gradient(to bottom, white, #80808030)">{$dezena}</div>
								</td>
								{if $smarty.foreach.dezenas.iteration > 0 && $smarty.foreach.dezenas.iteration % 10 == 0}
							</tr><tr>
								{/if}
							{/foreach}
							</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td align="center">
					<table style="width:500px">
						{foreach from=$resultado.vencedores item=vencendor}
						<tr>
							<td align="center" style="font-size:15px">
									{if $resultado.tipo == 1}
										<strong>{$vencendor.numero}</strong> {if $vencendor.nome != null}- {$vencendor.nome}{/if} {if $vencendor.localidade != null}- {$vencendor.localidade}{/if}
									{else}
										<strong>{$vencendor.sequencial}</strong> {if $vencendor.nome != null}- {$vencendor.nome}{/if} {if $vencendor.localidade != null}- {$vencendor.localidade}{/if}
									{/if}
								</td>
						</tr>
						{/foreach}
					</table>
				</td>	
			</tr>
			<tr>
				<td align="center"><br></td>
			</tr>
		{/foreach}
	</tbody>
</table>